---
import type { ImageMetadata } from 'astro'

interface Props {
  title?: string
  description?: string
  image?: ImageMetadata
}

const siteurl = 'https://jldec.me'
const twitter = '@jldec'

const { title = 'Jürgen Leschner', description = title, image } = Astro.props
const url = siteurl + Astro.url.pathname.replace(/\.html$/, '')
const imageUrl = image ? siteurl + image.src : undefined
---

<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:description" content={description} />
<meta property="og:title" content={title} />
<link rel="canonical" href={url} />
<meta property="og:url" content={url} />
<meta name="twitter:site" content={twitter} />
<meta name="twitter:creator" content={twitter} />
{imageUrl && <meta property="og:image" content={imageUrl} />}
{imageUrl && <meta name="twitter:card" content="summary_large_image" />}
{imageUrl && <meta name="twitter:image" content={imageUrl} />}
