---
import { ClientRouter } from 'astro:transitions'
import type { ImageMetadata } from 'astro'
import '../styles/global.css'
import Menu from '../components/Menu.astro'
import Metadata from '../components/Metadata.astro'
import SplashImage from '../components/SplashImage.astro'

interface Props {
  title?: string
  description?: string
  splashImage?: ImageMetadata
  prefetchLinks?: string[]
  preloadImages?: string[]
}

const { title, description, splashImage, prefetchLinks, preloadImages } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.jpg" />
    <Metadata title={title} description={description} image={splashImage} />
    {prefetchLinks?.map((href) => <link rel="prefetch" href={href} />)}
    {preloadImages?.map((href) => <link rel="preload" as="image" href={href} />)}
    <ClientRouter />
  </head>
  <body>
    <div class="max-w-3xl m-auto py-3 px-3 lg:px-0 overflow-hidden">
      <Menu />
      {splashImage && <SplashImage src={splashImage} />}
      <main><slot /></main>
      <script is:inline src="/js/image-enlarge.js"></script>
    </div>
  </body>
</html>
